In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(".\\Data\\housing.csv")

In [3]:
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [4]:
x=df[["RM","LSTAT","PTRATIO"]]
y=df["MEDV"]

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=(0.2))

In [8]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
lr=LinearRegression()
lr.fit(xtrain,ytrain)
ypred=lr.predict(xtest)
print("R2 Score",r2_score(ytest,ypred))
mse=mean_squared_error(ytest,ypred)
mae=mean_absolute_error(ytest,ypred)
print("MSE :",mse)
print("MAE :",mae)
print("RMSE :",np.sqrt(mse))

R2 Score 0.6385303126846645
MSE : 11719693839.52473
MAE : 81485.7214477688
RMSE : 108257.53479331003